<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket IO</title>
    <link rel="stylesheet" href="./Styles/chat.css" />
    <%- include('./partials/latealMenuHead') %>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/lateralMenu',{user}) %>   
      <div class="chat-content"> 
        <div>
          <span>olá <strong id="userName"><%=userName%></strong> (<strong id="nomeFuncionario"><%= nome %></strong>)
            - Você está na sala <strong id="room"><%=room %></strong></span> <br/>
            Setor:<span id="setor"><%= setor %></span> - cargo: <span id="cargo"><%= cargo %></span>
        </div>
        <div id="chat_content">
          <div class="messages" id="messages"></div>
        </div>
        <div class="input-user">
          <input 
            class="form-control input-patter"
            type="text"
            placeholder="Digite sua mensagem"
            id="message_input" maxlength="245"
          
          />
          <div id="div-upload-arq" >
            <label for="inp-upload-file"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" id="icon-uploa" viewBox="0 0 256 256"><path d="M224,152v56a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V152a8,8,0,0,1,16,0v56H208V152a8,8,0,0,1,16,0ZM93.66,85.66,120,59.31V152a8,8,0,0,0,16,0V59.31l26.34,26.35a8,8,0,0,0,11.32-11.32l-40-40a8,8,0,0,0-11.32,0l-40,40A8,8,0,0,0,93.66,85.66Z"></path></svg></label>
            <input type="file" style="display: none;" name="arquivo" id="inp-upload-file" accept=".jpg, .png, .txt, .doxt, .pdf, .pptx, .mp3">
          </div>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
    <script src="/javascript/clientWS.js"></script>
  </body>
</html>