<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket IO</title>
    <link rel="stylesheet" href="./Styles/chat.css" />
  </head>
  <body>
    <div class="container">
      <form action="/logout" method="post">
        <button type="submit" class="logout" id="logout">Logout</button>
      </form>
      <form action="/socialArea" method="post">
        <button type="submit" class="socialArea" id="socialArea">Volta para area Social</button>
      </form>
      
      <div class="row">
        
        <div>
          <span>olá <strong id="username"><%=username%></strong> (<strong id="nomeFuncionario"><%= nome %></strong>)
            - Você está na sala <strong id="room"><%=room %></strong></span> <br/>
            Setor:<span id="setor"><%= setor %></span> - cargo: <span id="cargo"><%= cargo %></span>
        </div>

        

        <div id="chat_content">
          <div class="messages" id="messages"></div>
        </div>
        <div class="input-user">
          <input 
            class="form-control input-patter"
            type="text"
            placeholder="Digite sua mensagem"
            id="message_input"
          />
          <div id="div-upload-arq" >
            <label for="inp-upload-arq"><img src="/uploadIcon.png" alt=""></label>
            <input type="file" name="arquivo" id="inp-upload-arq" accept=".jpg, .png">
          </div>
        </div>
      </div>

     

      

      <footer></footer>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
    <script src="/javascript/clientWS.js"></script>
  </body>
</html>