<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Styles/roomsManager.css" />
    <%- include('./partials/latealMenuHead') %>
    <title>Socket IO</title>
</head>

<body>
    <%- include('./partials/lateralMenu',{user}) %>
    <div class="container">
     
        <main class="main-container">
            <h3>Gerenciar Salas</h3>
            <div class="manager-rooms">
                 <% if (rooms == 0) { %>
                 <span>Nenhuma sala cadastrado</span>
                <% } %>
                <% rooms.forEach(room=> { %>
                    <form method="post" class="room">
                        <label for="name-room">Nome da Sala</label>
                        <input type="text" value="<%=room.name_room%>" name="nameRoom" id="name-room" maxlength="20">
                        <span class="name-erro">Nome invalido</span>
                        <label for="description-room">Descrição</label>
                        <textarea type="text" name="description" id="description-room" maxlength="245" rows="10"
                        cols="50"><%=room.description%></textarea>
                        <div class="div-buttons">
                            <input type="hidden" name="oldName" value="<%=room.name_room%> " >
                            <input type="hidden" id="inp-hidden" name="action">
                            <button type="button" class="btn-permisionUsers">Dar acesso a usuarios</button>
                            <button type="submit" class="btn-alterar">Salvar Alteração</button>
                            <button type="submit" class="btn-excluir">Excluir</button>
                        </div>
                        <div class="div-usersManager" style="display: none;">
                            <span>Selecione os usuarios que terão acesso a sala </span>
                            <div class="users-checkbox">
                            <% if (users.length ==0) { %>
                                <span>Nenhum usuario Cadastrado</span>
                            <% } %>
                            <% users.forEach(user => { %>
                                
                                <%if (usersMember.find((member)=>{
                                    if(member.username == user.userName && member.nametable == room.name_room)
                                        return true
                                    return false
                                })) { %>
                                    <div class="div-usersPermission">
                                        <span>
                                            Nome:<%= user.nomeFuncionario%> <br>
                                            userName:<%= user.userName%> <br>
                                            Setor: <%= user.setor%>
                                            Cargo: <%= user.cargo%>

                                        </span>
                                        <div class="div-checkbox">
                                            <input type="checkbox"  class="usersMember" value="<%= user.userName %>" checked>
                                        </div>
                                    </div>
                                <% } else { %>
                                    <div class="div-usersPermission">
                                        <span>
                                            Nome:<%= user.nomeFuncionario%> <br>
                                            userName:<%= user.userName%> <br>
                                            Setor: <%= user.setor%>
                                            Cargo: <%= user.cargo%>
                                        </span>
                                        <div class="div-checkbox">
                                            <input type="checkbox"  class="usersMember" value="<%= user.userName %>"  >
                                        </div>
                                    </div>
                            <% } %>
                            <% }) %>

                            </div>


                        </div>
                    </form>
                    <% }) %>
            </div>
        </main>
    </div>
    <script src="/javascript/roomsManager.js"></script>
</body>

</html>