<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./Styles/socialArea.css" />
  <%- include('./partials/latealMenuHead') %>
    <title>Socket IO</title>
</head>

<body>
  <div class="container">

    <main class="container-rooms">
      <%- include('./partials/lateralMenu',{user}) %>
        <div class="div-room">
          <h3>Salas de Bate Papo</h3>
              <div class="div-rooms-created">
                <% if (dataRooms.length ==0 && user.isadm==1) { %>
                  <h3>Nenhuma Sala Cadastrada</h3>
                <% } else if (dataRooms.length ==0 && user.isadm==0) { %>
                 <h2>Você não esta cadastrado em Nenhuma sala, contate um admistrador</h2>
                 <% } %>
                <% for( let i=0; i < dataRooms.length; i++ ) { %>
                  <div div class="room-created">
                    <span>Criador: <span id="nameUser">
                        <%= dataRooms[i].fk_name_user %>
                      </span></span>
                      <br>
                    <span class="sp-name-room">
                      Nome da Sala: <%=dataRooms[i].name_room %>
                    </span>
                    <p class="p-description-room">
                      <%=dataRooms[i].description%>
                  </div>
                  <% } %>
              </div>
        </div>

    </main>
  </div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/javascript/socialArea.js"></script>

</html>