<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Styles/managerUsers.css" />
    <%- include('./partials/latealMenuHead') %>
    <title>Socket IO</title>
</head>

<body>
    <%- include('./partials/lateralMenu',{user}) %>
    <div class="container">
        
        <main class="main-container">
            <h3>Gerenciar Usuarios</h3>
            <div class="conteiner-users">
                <% if (usersNotAdm.length == 0) { %>
                 <span>Nenhum usuario cadastrado</span>
                <% } else { %>
                    <% usersNotAdm.forEach(element => { %>
                    <div class="card-user">
                        <p>
                            nome: <%= element.nomeFuncionario %><br>
                            Username: <%= element.userName %><br>
                            cargo: <%= element.cargo %><br>
                            setor: <%= element.setor %><br>
                        </p>
                        <form method="post" class="form-delete">
                            <input type="hidden" value="<%= element.userName %>" name="userName">
                            <input type="hidden" value="<%= element.nomeFuncionario %>" name="nomeFuncionario">
                            <button type="submit">
                                Deletar Usuario
                            </button>
                        </form>
                    </div>
                <% }) %>
                <% } %>
                
                
            </div>
        </main>
    </div>
</body>

</html>